{% extends 'core/base.html' %}

{% block content %}

<main class="mainIndex">
    <section class="animate__animated animate__backInUp" id="seccion1">
        <h2>Verdadera Pizza Italiana</h2>
    </section>
    <div class="animate__animated animate__backInUp" id="seccion3">
        <article class="pagMenu">
            <h1>PIZZAS CLASICAS</h1>
            <div>
                <h3>New York</h3>
                <p>Corteza fina al estilo clásico de Nueva York
                    <br>Mediana 14" $1800
                    <br>Grande 16" $2000</p>
            </div>
            <div>
                <h3>Deep Dish Pan</h3>
                <p>Pizza de masa gruesa
                    <br>Mediana 14" $1900
                    <br>Grande 16" $2200</p>
            </div>
            <div>
                <h3>Siciliana</h3>
                <p>Plato hondo cuadrado con nuestra salsa casera de cebolla y tomate
                    <br>$1700</p>
            </div>
        </article>

        <article class="pagMenu">
            <h1>PIZZAS ESPECIALES</h1>
            <div>
                <h3>New York Especial</h3>
                <p>Pepperoni, chorizo, morrón, cebolla y champiñón
                    <br>Mediana 14" $1750
                    <br>Grande 16" $2300</p>
            </div>
            <div>
                <h3>Vegetariana</h3>
                <p>Champiñón, pimiento, cebolla, tomate y alcachofa
                    <br>Mediana 14" $1900
                    <br>Grande 16" $2050</p>
            </div>
            <div>
                <h3>Papperoni</h3>
                <p>Pepperoni, salchicha, albóndigas, jamón y tocino
                    <br>Mediana 14" $1900
                    <br>Grande 16" $2200</p>
            </div>
        </article>
    </div>
</main>

{% endblock %}